{% extends 'newsMain/basePages/basePage.html' %}

{% block content %}
        <div class="single-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="sn-img">
                            <img src="{{data.image_url}}" />
                        </div>
                        <div class="sn-content">
                            <a class="sn-title" href="">{{ data.title }}</a>
                            <a class="sn-date" href=""><i class="far fa-clock"></i>{{data.date}}</a>
                            {{data.description}}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Тэги</h2>
                                <div class="category">
                                    <ul class="fa-ul">
                                        {% for tag in data.tags %}
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">{{tag}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Категории</h2>
                                <div class="tags">
                                    <a href="">Финансовые рынки</a>
                                    <a href="">Внутренняя политика</a>
                                    <a href="">Спорт</a>
                                    <a href="">Научные открытия</a>
                                    <a href="">Медицинские новости</a>
                                    <a href="">Кино и телевидение</a>
                                    <a href="">Новости образования</a>
                                    <a href="">Образовательные технологии</a>
                                    
                                </div>
                            </div>

<!--                            <div class="sidebar-widget">-->
<!--                                <h2><i class="fas fa-align-justify"></i>Ads 1 column</h2>-->
<!--                                <div class="image">-->
<!--                                    <a href=""><img src="{{data.image_url}}" alt="Image"></a>-->
<!--                                    <h3>skjdfjbsd sdkjgbsd gblsdb </h3>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="sidebar-widget">-->
<!--                                <h2><i class="fas fa-align-justify"></i>Ads 2 column</h2>-->
<!--                                <div class="image">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <a href=""><img src="img/adds-2.jpg" alt="Image"></a>-->
<!--                                        </div>-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <a href=""><img src="img/adds-2.jpg" alt="Image"></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}